@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/prism.css")'>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
    <script src='/bundle.js' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/hello.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/prism.js")' type="text/javascript"></script>
</head>

<body>
    @content
</body>

</html>
